/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */
$pink: hsl(322, 100%, 66%);
$dark-blue: hsl(192, 100%, 9%);
$white: hsl(0, 100%, 100%);
$light-cyan: hsl(193, 100%, 96%);
$light-gray: hsl(0, 0%, 95%);
$dark-gray: hsl(208, 11%, 55%);
$black: hsl(0, 100%, 0%);


/* -------------------------------------------------------------------------- */
/*                                FONT WEIGHTS                                */
/* -------------------------------------------------------------------------- */
$reg: 400;
$semi: 600;
$bold: 700;


/* -------------------------------------------------------------------------- */
/*                                 FONT FAMILY                                */
/* -------------------------------------------------------------------------- */
$pop: 'Poppins', sans-serif;
$open: 'Open Sans', sans-serif;


/* -------------------------------------------------------------------------- */
/*                                   PADDING                                  */
/* -------------------------------------------------------------------------- */
$sm: 15px;
$lg: 40px;